.new-user-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    align-items: center;
    color: #fff;
    width: 80%;
}

.new-user-title, .user-name-label, .user-group-label {
    text-align: center;
    font-size: larger;
    color: #fff;
    opacity: 0.5;
    transition: opacity, 1s;
    cursor: default;
    margin-bottom: 15px;
}

.new-user-color {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-left: 5px;
    vertical-align: middle;
    outline-color: #3867d6;
}

.new-user-title:hover, .user-name-label:hover, .user-group-label:hover {
    opacity: 1;
}

.add-new-user-btn {
    width: fit-content;
    display: inline-block;
    height: 30px;
    background-color: #3867d6;
    color: #fff;
    margin: 10px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 1s;
    border-radius: 8px;
    border: none;
    outline: none;
}

.add-new-user-btn:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

.add-new-user-btn:hover {
    opacity: 1;
}
.new-user-name {
    width: 160px;
    height: 30px;
    font-size: 16px;
    overflow: auto;
    outline: #3867d6;
}
.new-user-group {
    width: fit-content;
    height: 30px;
    width: 100px;
    font-size: 16px;
    outline: #3867d6;
}