.role-list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    padding: 5px 2px 5px 2px;
    height: fit-content;
}

.new-role-form {
    margin: 0 auto;
}

.new-role-name {
    width: 200px;
    height: 30px;
    font-size: 16px;
    overflow: auto;
    outline-color: #3867d6;
}

.new-role-color {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-left: 5px;
    vertical-align: middle;
    outline-color: #3867d6;
}

.roles-list-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    align-items: center;
    color: #fff;
    opacity: 0.7;
    transition: opacity, 1s;
}

.roles-list-legend:hover {
    opacity: 1;
}

.new-role-add-btn {
    width: fit-content;
    display: inline-block;
    height: 30px;
    background-color: #3867d6;
    color: #fff;
    margin: 10px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 1s;
    border-radius: 8px;
    border: none;
    outline: none;
}

.new-role-add-btn:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

.new-role-add-btn:hover {
    opacity: 1;
}

.no-roles, .role-list-title {
    text-align: center;
    font-size: larger;
    color: #fff;
    opacity: 0.5;
    transition: opacity, 1s;
    cursor: default;
}

.no-roles:hover, .role-list-title:hover {
    opacity: 1;
}