.users-item-box-even, .users-item-box-odd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 60px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    align-items: center;
    color: #fff;
}

.users-item-box-even {
    background-color: #192a56;
}

.users-item-box-odd {
    background-color: #273c75;
}

.users-item-name, .users-item-group, .users-item-group-none {
    font-size: 26px;
    overflow: hidden;
}

.users-item-action-box, .users-item-group-none, .users-item-group, .users-item-color,
.users-list-legend-group, .users-list-legend-actions, .users-list-legend-color {
    min-width: 20%;
    max-width: 20%;
}

.users-item-name, .users-list-legend-users  {
    min-width: 40%;
    max-width: 40%;
}

.users-item-group-none {
    color: #95a5a6;
}

.users-item-action-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.users-item-edit-btn-box svg path {
    fill: #fff;
}

.users-item-delete-btn, .users-item-edit-btn-box svg path {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 1s;
}

.users-item-delete-btn-box, .users-item-edit-btn-box svg path, .users-item-edit-btn-box, .users-list-legend-actions {
    text-align: right;
}

.users-item-delete-btn:hover, .users-item-edit-btn-box:hover svg path, .users-item-edit-btn-box:hover {
    opacity: 1;
}