.main-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #2f3640;
    color: #dcdde1;
}
.main-menu-users, .main-menu-schedules {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px 10px ;
    width: 340px;
    height: 15%;
    cursor: pointer;
    border-radius: 8px;
}

.main-menu-users {
    background-color: #3867d6;
    opacity: 0.7;
    transition: opacity 1s;
}

.main-menu-schedules {
    background-color: #16a085;
    opacity: 0.7;
    transition: opacity 1s;
}

.main-menu-users:hover, .main-menu-schedules:hover {
    opacity: 1;
}

.main-menu-info {
    text-transform: lowercase;
    opacity: 0;
    transition: opacity 2s;
}

.main-menu-users:hover .main-menu-info, .main-menu-schedules:hover .main-menu-info {
    opacity: 1;
}