.status-list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding: 5px 2px 5px 2px;
    height: fit-content;
}

.new-status-form {
    margin: 0 auto;
    padding: 5px 2px 5px 2px;
}

.new-status-name {
    width: 200px;
    height: 30px;
    font-size: 16px;
    overflow: auto;
    outline: #3867d6;
}

.new-status-add-btn {
    width: fit-content;
    display: inline-block;
    height: 30px;
    background-color: #3867d6;
    color: #fff;
    margin: 10px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 1s;
    border-radius: 8px;
    border: none;
    outline: none;
}

.new-status-add-btn:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

.new-status-add-btn:hover {
    opacity: 1;
}

.no-statuses, .status-list-title {
    text-align: center;
    font-size: larger;
    color: #fff;
    opacity: 0.5;
    transition: opacity, 1s;
    cursor: default;
}

.no-statuses:hover, .status-list-title:hover {
    opacity: 1;
}