.users-list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    padding: 5px 2px 5px 2px;
    height: fit-content;
}

.users-list-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    align-items: center;
    color: #fff;
    opacity: 0.7;
    transition: opacity, 1s;
}

.users-list-legend:hover {
    opacity: 1;
}

.no-users {
    text-align: center;
    font-size: larger;
    color: #fff;
    opacity: 0.5;
    transition: opacity, 1s;
    cursor: default;
}

.no-users:hover {
    opacity: 1;
}

.users-search-field-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    margin-top: 15px;
}

.users-search-field {
    width: 80%;
    height: 30px;
    resize: none;
    font-size: 26px;
    overflow: auto;
    outline: #3867d6;
}